.entry-container {
    
    padding: 40px;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    justify-self: center;
}

.entry-heading {
    text-align: center;
    margin-bottom: 30px;
}

.entry-inputGroup {
    margin-bottom: 15px;
}

.entry-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.entry-input {
    width: 40%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.entry-addButton {
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.entryNextButton {
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #a76128;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}